.container {
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.firstChild {
    display: flex;

    background-color: white;
}

.icon {
    transition: all 0.5s ease-in-out;
}

.items {
    margin: 1rem;

    width: 100%;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    /* margin-top: 1rem; */
}

.name:hover {
    cursor: pointer;
}

.formContainer {
    position: absolute;
    bottom: 0;
    top: 0;

    height: 50%;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid #000;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.form {
    display: flex;
    flex-direction: column;
    color: white;
}

.input {
    background-color: black;
    padding: 0.5rem;
    color: white;
}

.buttonConteiner {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
